*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans',  sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(180, 243, 173);
    
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    background: rgb(43, 43, 43);
    border-radius: 20px;
    box-shadow: 30px 30px 30px #394b39 ;
}

.game-details{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    background: rgb(33, 33, 33);
    display: grid;
    grid-template:repeat(30,1fr)/repeat(30,1fr) ;
    border-radius: 20px ;
}

.play-board .food{
    background: #10ae3f;
    border-radius: 5px;
    box-shadow: 4px 4px 0px 4px #9f1616
}

.play-board .head{
    box-shadow: 2px 2px 2px #000000;
    background: #ffffff;
    border-radius: 5px;
}
