*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(180, 243, 173);
    
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    background: rgb(43, 43, 43);
    border-radius: 20px;
    box-shadow: 30px 30px 30px #394b39 ;
}

.game-details{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    background: rgb(33, 33, 33);
    display: grid;
    grid-template:repeat(30,1fr)/repeat(30,1fr) ;
    border-radius: 20px ;
}

.play-board .food{
    background: #f0ff19;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 1px #ff9500
}

.play-board .head{
    box-shadow: 2px 2px 2px #000000;
    background: #ffffff;
    border-radius: 5px;
}

.controls{
    display: flex;
    justify-content: space-between;
}

.controls i {
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
    width: calc(100%/4);
    padding: 25px;
    border-radius: 100px;
    font-size: 1.1rem;
    cursor: pointer;
    border-right: 1px solid black;
}
